.app-message {
	display: flex;
}

.app-message-content {
	flex: 1;
}

.app-contacts,
.app-chats {
	height: 100vh;
	overflow: scroll;
}

/* Small Screens */
@media only screen and (max-width: 900px) {
	.app-chats {
		display: none;
	}
}

/* Large Screens */
@media only screen and (min-width: 901px) {
	.app-container {
		display: flex;
	}

	.app-contacts {
		flex: 1;
		border-right: solid 1px silver;
	}

	.app-chats {
		flex: 2;
	}

	.app-chat-header {
		height: 3rem;
		background-color: silver;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.app-message-active {
		background-color: silver;
	}
}